{% extends "!aggregated.html" %}

{% block body %}
  <p>Bem-vindo a página da Rede de Colaboração do Laboratório de Pesquisa
  Operacional e Otimização (LPOO).</p>
  <p>A Rede de Colaboração é um projeto de ensino e aprendizado envolvendo os
  membros do LPOO para troca de conhecimento técnico.</p>
  <p>Nessa página você encontrará as últimas notícias relacionadas ao projeto e
  maiores informações encontram-se acessíveis por meio dos links da barra de
  navegação acima.</p>
  {{ super() }}
{% endblock %}
